* {
	font-family: "Work Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 80%;
	margin: 0 auto;
	/* border: 2px solid gray; */
}
header {
	background: rgba(255, 144, 14, 0.1);
	width: 100%;
	height: 84.625em;
	/* border: 2px solid red; */
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3.125em;
}
.nav-title {
	width: 18.875em;
	height: 3.3125em;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 3.3125em;
	color: #131313;
	/* border: 2px solid rgb(0, 187, 255); */
}
ul {
	display: flex;
	justify-content: space-between;
	width: 29.8125em;
	height: 1.625em;

	/* border: 2px solid rgb(255, 0, 255); */
}
ul li {
	list-style: none;
}
ul li a {
	text-decoration: none;
	font-weight: 500;
	font-size: 1.125em;
	color: #424242;
}

.banner {
	width: 53.875em;
	height: 27.1875em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 2px solid rgb(0, 251, 255); */
}
.banner-title {
	width: 70%;
	font-weight: 700;
	font-size: 4em;
	text-align: center;
	color: #131313;
	/* border: 2px solid rgb(255, 34, 0); */
}
.banner-description {
	width: 54.25em;
	height: 3.25em;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.625em;
	text-align: center;
	color: #727272;
	margin-top: 1em;
	margin-bottom: 2em;
	/* border: 2px solid rgb(164, 169, 169); */
}
.btn {
	border: none;
	width: 11.25em;
	height: 4em;
	background: #ff900e;
	border-radius: 0.5em;
	font-weight: 600;
	font-size: 1.25em;
	color: #ffffff;
}
#banner-img {
	width: 100%;
	height: 43.75em;
	/* border: 2px solid rgb(43, 255, 0); */
}

/***************************************** Quick Feature Section **************************************************/
.feature {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5.3125em;
	margin-bottom: 8.125em;
	/* border: 2px solid red; */
}
.feature-image {
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5em;
	/* border: 2px solid gray; */
}
.feature-image img {
	width: 100%;
	height: 100%;
	border-radius: 0.5em;
}
.feature-list {
	margin-left: 4.5625em;
	width: 40%;
}
.feature-title {
	margin-bottom: 1.5em;
}
.feature-title span:first-child {
	width: 29.25em;
	height: 6.625em;
	font-weight: 500;
	font-size: 2.8125em;
	color: #727272;
}
.feature-title span:nth-child(2) {
	width: 29.25em;
	height: 6.625em;
	font-weight: 700;
	font-size: 2.8125em;
	color: #131313;
}
.feature-title span:last-child {
	width: 29.25em;
	height: 6.625em;
	font-weight: 700;
	font-size: 2.8125em;
	color: #ff900e;
}
.feature-list-description {
	width: 100%;
	height: 4.875em;
	font-weight: 400;
	font-size: 1em;
	color: #727272;
	margin-bottom: 2em;
}

/********************************************* Feature Description Section ******************************************** */
.feature-description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8.125em;
}

.feature-description-div1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}
.div1-heading {
	width: 12.25em;
	height: 2.625em;
	font-weight: 700;
	font-size: 2.8125em;
	color: #131313;
	padding-left: 1.125em;
	margin-bottom: 1.3em;
	border-left: 0.3125em solid #ff900e;
}
.div1-description {
	width: 36.625em;
	height: 4.875em;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.625em;
	margin-bottom: 1.875em;
	color: #727272;
}

.div-item {
	margin-bottom: 1.25em;
	padding-top: 1.875em;
	padding-left: 1.875em;
	width: 36.625em;
	height: 9.25em;
	background: #ffffff;
	box-shadow: 0em 0.25em 1.875em rgba(0, 0, 0, 0.06);
	border-radius: 0.5em;
}
.div-item-heading {
	width: 15.6875em;
	height: 1.4375em;
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: 0.625em;
	color: #131313;
}
.div-item-description {
	width: 32.125em;
	height: 4.875em;
	font-weight: 400;
	font-size: 1em;
	color: #727272;
}

.feature-description-div2 {
	position: relative;
	width: 50%;
	text-align: right;
}
.feature-description-div2 img {
	width: 90%;
	height: 90%;
}

.experience-btn {
	position: absolute;
	width: 21.375em;
	height: 12.5em;
	bottom: 0;
	left: 0;
	background: #ff900e;
	border-radius: 0.5em;
	border: none;
	text-align: center;
}
.experience-btn span:first-child {
	display: block;

	font-weight: 700;
	font-size: 4.0625em;
	color: #ffffff;
}
.experience-btn span:last-child {
	display: block;
	font-weight: 500;
	font-size: 1.5625em;
	color: #ffffff;
}

/************* Fact Section */
.fact {
	margin-bottom: 11.25em;
}
.fact-title {
	height: 3.3125em;
	font-weight: 700;
	font-size: 2.8125em;
	color: #131313;
	margin-bottom: -1.5em;
}
.fact-description {
	width: 33.875em;
	height: 3.25em;
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 6.25em;
	color: #727272;
}
.fact-div {
	display: flex;
	justify-content: space-around;
}

.fact-div-item {
	width: 15em;
	height: 15em;
	border: 0.0625em solid #ff900e;
	border-radius: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fact-div-item:hover {
	transform: scale(1.1);
	transition: 1s;
	background-color: rgb(190, 236, 236);
	cursor: pointer;
}
.fact-div-item h2 {
	height: 1.3125em;
	font-weight: 600;
	font-size: 2.8125em;
	color: #424242;
}

.fact-div-item h4 {
	height: 1.4375em;
	font-weight: 600;
	font-size: 1.25em;
	color: #727272;
}

/***************** Sponsor Section **************/
.sponsor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sponsor-title {
	width: 20.4375em;
	height: 3.3125em;
	font-weight: 700;
	font-size: 2.8125em;
	color: #131313;
	margin-bottom: -1.5em;
	text-align: center;
}
.sponsor-description {
	width: 33.875em;
	height: 3.25em;
	font-weight: 400;
	font-size: 1em;
	text-align: center;
	color: #727272;
	margin-bottom: 3.125em;
}
.sponsor-logo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8.125em;
}
.sponsor-logo img {
	width: 10.4225em;
	height: 3.125em;
	filter: grayscale(100%);
}

/* ******* Extra Section ******** */
.extra {
	height: 31.25em;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url("../images/building.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 9.375em;
}
.extra h1 {
	color: #116c92;
	margin-bottom: 1.625em;
}
.extra p {
	color: #ffffff;
	text-align: justify;
	width: 80%;
	margin-bottom: 3.625em;
}
/* ********* Footer ********** */
footer .content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.25em;
	background: #fff4e7;
	border-radius: 0.5em;
	font-weight: 400;
	font-size: 1.25em;
	margin-bottom: 12.5em;
	color: #424242;
}

/* ************** MEDIA QUERIES ************* */
@media screen and (max-width: 575px) {
	.container {
		width: 100%;
	}
	header {
		width: 100%;
		height: 70em;
	}
	.navbar,
	ul {
		flex-direction: column;
		gap: 1em;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 3em;
	}
	.nav-title {
		width: 100%;
		height: 3.3125em;
		text-align: center;
	}

	.banner,
	.banner-title,
	.banner-description {
		width: 100%;
		height: 100%;
		padding: 10px;
	}

	.banner-title {
		font-size: 2.5em;
	}
	.banner-description {
		font-size: 1em;
		text-align: justify;
	}
	#banner-img {
		width: 100%;
		height: 20em;
		margin-top: 2em;
		/* border: 2px solid rgb(43, 255, 0); */
	}
	.feature {
		width: 80%;
		flex-direction: column;
	}

	.feature-image {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5em;
		/* border: 2px solid gray; */
	}
	.feature-list,
	.feature-list-description {
		width: 100%;
		margin-top: 25px;
		margin-bottom: 3em;
	}
	.feature-list {
		margin-left: 0;
		text-align: center;
	}

	.feature-title span:first-child,
	.feature-title span:last-child,
	.feature-title span:nth-child(2) {
		width: 100%;
	}

	.feature-description {
		flex-direction: column;
		width: 80%;
		margin-bottom: 4px;
	}
	.feature-description-div1,
	.feature-description-div2,
	.div1-heading,
	.div1-description,
	.div-item,
	.div-item-heading,
	.div-item-description,
	.div-item-description {
		width: 100%;
		height: 100%;
	}
	.div-item-description img {
		width: 100%;
	}
	.div-item-description {
		position: relative;
	}
	/* .feature-description-div2 {
		text-align: center;
	} */
	.experience-btn {
		position: absolute;
		bottom: -11em;
		left: 4em;
		height: 24%;
		width: 80%;
		margin: 0 auto;
	}

	.fact {
		width: 80%;
	}
	.fact-title {
		margin-top: 3.5em;
	}
	.fact-title,
	.fact-div {
		width: 100%;
		margin-top: 5em;
	}
	.fact-div {
		flex-direction: column;
		gap: 1em;
		align-items: center;
	}

	.sponsor,
	.sponsor-title,
	.sponsor-description {
		width: 100%;
	}
	.sponsor-logo {
		flex-direction: column;
		gap: 1em;
		align-items: center;
	}

	.extra,
	.extra h1,
	.extra p {
		height: 100%;
		width: 100%;
		padding: 1em;
	}
	.extra {
		margin-bottom: 2em;
	}
	footer .content {
		margin-bottom: 0;
		text-align: center;
	}
}
