* {
	font-family: "Work Sans", sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	background: rgba(255, 144, 14, 0.1);
	width: 100%;
	border: 2px solid red;
}
.navbar {
	border: 2px solid rgb(0, 251, 255);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.nav-title {
	width: 302px;
	height: 53px;
	font-weight: 700;
	font-size: 40px;
	color: #131313;
	/* border: 2px solid rgb(0, 187, 255); */
}
ul {
	display: flex;
	justify-content: space-between;
	width: 50%;

	width: 300px;
	height: 26px;
	/* border: 2px solid rgb(255, 0, 255); */
}

ul li {
	list-style: none;
	/* border: 2px solid gray; */
}
ul li a {
	text-decoration: none;

	font-weight: 500;
	font-size: 18px;
	color: #424242;
}

.banner {
	margin-top: 103px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(0, 251, 255);
}
.banner-title {
	border: 2px solid rgb(255, 34, 0);
}
.banner-description {
	width: 868px;
	height: 52px;
	left: 526px;
	top: 379px;

	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */

	text-align: center;

	/* Dark 03 */

	color: #727272;
	border: 2px solid rgb(164, 169, 169);
}
.btn {
	border: none;
	width: 180px;
	height: 64px;
	background: #ff900e;
	border-radius: 8px;

	font-weight: 600;
	font-size: 20px;

	color: #ffffff;
}
.banner img {
	width: 100%;
	border: 2px solid rgb(43, 255, 0);
}
